extra-samples/XML/xml-to-load.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
          <xs:complexType>
            <xs:attribute name="ProductID" type="xs:unsignedShort" use="optional" />
            <xs:attribute name="Name" type="xs:string" use="optional" />
            <xs:attribute name="ProductNumber" type="xs:string" use="optional" />
            <xs:attribute name="ListPrice" type="xs:decimal" use="optional" />
            <xs:attribute name="StandardCost" type="xs:decimal" use="optional" />
            <xs:attribute name="Color" type="xs:string" use="optional" />
            <xs:attribute name="Class" type="xs:string" use="optional" />
            <xs:attribute name="Weight" type="xs:decimal" use="optional" />
            <xs:attribute name="WeightUnitMeasureCode" type="xs:string" use="optional" />
            <xs:attribute name="Size" type="xs:string" use="optional" />
            <xs:attribute name="SizeUnitMeasureCode" type="xs:string" use="optional" />
            <xs:attribute name="Style" type="xs:string" use="optional" />
            <xs:attribute name="ProductSubcategoryID" type="xs:unsignedByte" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>